body{
    background-color: black;
}
#cabecera{
    border: 5px dashed orangered;
    background-color: orange;
    border-radius: 8px;
}
#cabecera h1, h2{
    text-align: center;
    font-size: 2.5em;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline;
    background-color: sandybrown;
    color: rgb(63, 58, 58);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 50px;
}
nav a:hover{
    color: white;
}
.image img{
    width: 100%;
}
.boton{
    border: 5px dashed salmon;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 20px;
    padding: 25px;
    line-height: 0.5;
}
.boton h2{
    text-align: left;
    font-size: 34px;
    color: rgb(36, 33, 33);
}
.boton p{
    font-weight: bold;
    color: rgb(68, 53, 53);
}
.boton a:hover{
    color: brown;
}
#pie-de-pagina{
    background-color: rgb(53, 48, 48);
    color: rgb(214, 156, 84);
    border-radius: 8px;
    padding: 40px;
}
#pie-de-pagina h2{
    font-size: 5em;
}
#pie-de-pagina p{
    font-size: 20px;
}